*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6; 
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .image-wrapper {
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    position: relative;
  }
  
  .image-wrapper img {
    max-width: 100%;
    height: auto; 
    display: block; 
  }
  
  .cosmos_title {
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 620px;
    text-align: center;
    padding-left: 25%;
    transform: translateX(100%);
    opacity: 0;
    animation: slideIn 3s forwards; 
    font-weight: 600;
    z-index: 1; 
    text-shadow: 0 0 10px black;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .rocket {
    position: absolute;
    bottom: 250px; 
    right: 300px;
    transform: translateY(100%); 
    opacity: 0;
    animation: slideInRocket 5s forwards; 
  }
  
  .rocket_photo {
    width: 400px;
    max-width: 100%;
    height: auto;
    transform: rotate(-125deg); 
    display: block;
  }
  
  @keyframes slideInRocket {
    0% {
      transform: translateY(100%) translateX(0);
      opacity: 0;
    }
    100% {
      transform: translateY(0) translateX(-600px); 
      opacity: 1;
    }
  }
  
  
.rocket {
    bottom: 250px; 
    right: 100px;
    animation: slideInRocket 5s forwards; 
  display: flex;
    align-items: center;
    gap: 30px; /* Расстояние между изображением и текстом */
}

.rocket_photo {
    transition: transform 0.5s ease, width 0.5s ease; 
    cursor: pointer; 
}

.text {
  padding-right: 200px;
}

.rocket_text {
    font-size: 18px; 
    color: #fff; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
    position: absolute; 
}

.rocket_text.visible {
    opacity: 1; 
}


@media (max-width: 1000px) {
  .cosmos_title {
    font-size: 28px;
    bottom: 280px;
    padding-left: 20%;
  }

  .rocket {
    bottom: 150px; 
    right: -100px;
    animation: slideInRocket 5s forwards; 
  }

  .rocket_photo {
    width: 200px;
    height: 50px;
  }

  .image-wrapper {
    padding: 20px;
    box-sizing: border-box;
  }
}


/* //1400px  */
  @media (max-width: 1400px) {
    .cosmos_title {
      font-size: 28px;
      bottom: 480px;
      padding-left: 30%;
    }
  
    .rocket {
      bottom: 100px; 
      right: -150px;
      animation: slideInRocket 5s forwards; 
    }
  
    .rocket_photo {
      width: 300px;
      height: 300px;
    }
  
    .image-wrapper {
      padding: 20px;
      box-sizing: border-box;
    }
  }
  